/* General Styles */
*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #E8F3D6;
  color: #FAAB78;
  font-family: 'Inter', sans-serif;
}

img {
  display: block;
  margin: auto;
}

main {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
} 

button {
  background: #FAAB78;
  border: 1px solid #FAAB78;
  border-radius: 4px;
  font-family: 'Bellota', cursive;
  font-size: 1.5em;
  color: #FCF9BE;
  margin: 15px;
  padding: 10px 20px;
  align-self: center;
}

/* Header Styles */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Bellota', cursive;
  font-size: 2.5em;
  margin: 0;
}

/* Ingredients Section Styles */

.ingredients-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

h2 {
  font-weight: 400;
  font-size: 1.25em;
  text-align: justify;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 5px;
  line-height: 30px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  margin-bottom:10px;
}

input {
  padding: 15px 20px;
  background: #FFFEEE;
  border: 1px solid #FFDCA9;
  border-radius: 5px;
}

input[type="text"] {
  font-size: 1.25em;
  font-family: 'Inter', sans-serif;
  color: #FAAB78;
}

/* Recipes Section */

.recipes-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

span {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.recipe-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 10px;
}

a { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FAAB78;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

a > img {
  border: 3px solid white;
  border-radius: 5px;
  margin: 0;
}

h4 {
  max-width: 300px;
}